*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    width: 10%;
}
#logo img{
    width:100%;
    align-items: flex-start;   
}
#navbar a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
#navbar a:hover{
    color: blue;
}

/*media query for header*/

@media only screen and (max-width: 600px) {
   #navbar a{
    display: none;
} #logo{
    width: 30%;
} 
  }

/*animation for nav bar*/


@keyframes bounceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#navbar {
    animation: bounceIn 1s ease-in-out;
}

#headerbutton{
    text-decoration: none;
    color: black;
    border: 2px solid blue;
    border-radius: 20px;
}
#headerbutton:hover{
    color: white;
    background-color: blue;
    border: none;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}
header{
    border-bottom: 1px black solid;
}

/* css for main*/

@keyframes bounceFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.9);
    }
    70% {
        transform: translateY(0) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

#h1 {
    animation: bounceFadeIn 1s ease-out forwards;
    font-family: "eurostile", sans-serif;
    font-weight: bold;
    margin-top: 7rem;
    font-size: 3rem;
}
#section1{
    align-items: center;
    text-align: center;
}
@keyframes rotateScaleIn {
    0% {
        opacity: 0;
        transform: rotate(-45deg) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }
}

#section1 img {
    animation: rotateScaleIn 1s ease-out forwards;
}
#section2{
    margin-top: 5rem;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-container img {
    max-width: 100%;
    height: auto;
}
#bio{
    background-color: rgb(65, 65, 223);
    text-align: center;
}
#bio h1{
    font-weight: 700;
    font-size: 40px;
}
#bio h2{
    text-align: center;
    padding-bottom: 6rem;
    font-size: 1.5rem;
}

@keyframes scaleUpDown {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.h3{
    animation: scaleUpDown 2s infinite alternate ease-in-out;
}
#section3{
    background-color: hsl(34, 32%, 91%);
}
#card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
}
#section3 .card img{
    width: 50%;
    border-radius: 50%;
}
#section3 a{
    text-decoration: none;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 10px;
    color: black;
}
.card a:hover{
    background-color: green;
    border: none;
}

#section4 h1{
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 1 1 calc(33.33% - 20px); /* Adjust width based on the number of cards */
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .card {
      flex: 1 1 calc(50% - 20px); /* Adjust width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      flex: 1 1 calc(100% - 20px); /* Adjust width for even smaller screens */
    }
  }
/* css for section4*/

  #section4 .card img{
    width: 100%;
    border-radius: 5px;
  }
  .card{
    background-color: rgba(255, 253, 253, 0.907);
  }
  .card h2{
    text-align: center;
  }
  .card h4{
    text-align: center;
  }
  #section4 .card p{
    text-align: center;
  }
  .card h3{
    text-align: center;
  }
  .card Ul li{
    list-style: none;
    text-align: center;
  }


  #card img {
    animation: shake 0.5s infinite;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(3deg); }
    50% { transform: translateX(5px) rotate(-3deg); }
    75% { transform: translateX(-3px) rotate(2deg); }
    100% { transform: translateX(3px) rotate(-2deg); }
  }

  #section5{
    background-color:rgb(237, 229, 229);
  }
 #section5 button{
    border: 2px solid pink;
    background-color: white;
    border-radius: 12px;
    font-weight: 500;
 }

 .message {
    font-size: 3em;
    color: #2e2d2d;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .message {
      font-size: 2em;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .message {
      font-size: 1.5em;
    }
  }
  #message{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: white;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer h3 {
    margin-bottom: 20px;
    color: #333;
}

.footer p {
    color: #555;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
}
.footer ul li a:hover{
    color: red;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #333;
    text-decoration: none;
}

.bottom-footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.bottom-footer p {
    margin: 0;
}
